

@mixin tablet() {
  #container{
    & > content{
      flex-direction: column-reverse;

          & > nav{
            ul{
              flex-direction:column-reverse;
              align-items: center;
            }
          }

       & >   a{
         font-size:25px;
       }
    }
  }
}
